<div class="container">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>Image</th>
        <th>ProductName</th>
        <th>Details</th>
        <th>Quantity</th>
        <th>Prices</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let c of cartItems">
        <td><img class="col-md-4" src="https://i.pinimg.com/474x/94/dd/57/94dd573e4b4de604ea7f33548da99fd6--d-nature-wallpaper-hd-wallpaper.jpg" alt="Card image cap"></td>
        <td>{{c.product.productName}}</td>
        <td>{{c.product.details}}</td>
        <td>{{c.quantity}}</td>
        <td>{{c.product.price}}</td>
        <button type="button" class="btn btn-default btn-sm" (click)="removeItem({productId: c.product.id})">Remove
        </button>
      </tr>
      <tr>
        <td class="col-md-8 ml">Total</td>
        <td>{{sumTotal}}</td>
      </tr>
    </tbody>

  </table>
<!--

  <div class="row cartitem border" *ngFor="let c of cartItems">
    <div class="col-md-8">
      <h5></h5>
      <p ></p>
      <p ><small class="text-muted"></small></p>
    </div>
    <div class="col-md-2">

    </div>
  </div> -->
  <div class="row">
    <a class="btn btn-primary" [routerLink]="['/checkout']">Checkout</a>
  </div>
</div>
